<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<!-- <style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgb(16, 1, 26);
  shape-rendering: crispEdges;
}

.dot {
  stroke: rgb(197, 121, 248);
  fill: rgb(137, 0, 228);
}

</style> -->
<body style="background-color: lightgray">
        <style>

                body {
                  font: 10px sans-serif;
                }
                
                .axis path,
                .axis line {
                  fill: none;
                  stroke: rgb(16, 1, 26);
                  shape-rendering: crispEdges;
                }
                
                .dot {
                  stroke: rgb(197, 121, 248);
                  fill: rgb(137, 0, 228);
                }
                
                </style>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="col-md-1"></div>
                        <div class="col-md-1"></div>
                        <div class="col-md-1"></div>
                        <a class="navbar-brand" href="/home" style="color: white; background-color: navy;">
                            <span class="nav-color">World Alcohol Consumption</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
                        <ul class="nav navbar-nav navbar-left" style="background-color:rgb(120, 234, 225);">
                            <li><a href="/datatable">Data</a></li>
                            <li><a href="/summary">Summary</a></li>
                            <li><a href="/rate">Consumption Rate</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script>

var margin = {top: 50, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom;

var x = d3.scaleLinear()
    .range([0, width]);

var y = d3.scaleLinear()
    .range([height, 0]);

var color = d3.scaleOrdinal(d3.schemeCategory10);

var xAxis = d3.axisBottom(x);

var yAxis = d3.axisLeft(y);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("/data", function(error, data) {
  if (error) throw error;
//   console.log("YAAAAAAAY");
//   console.log(data);
  data.forEach(function(d) {
    d.Total = +d.Total;
    d.Death_Rate = +d.Death_Rate;
  });

   x.domain(d3.extent(data, function(d) { return d.Total; })).nice();
   y.domain(d3.extent(data, function(d) { return d.Death_Rate; })).nice();

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
      .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("Sepal Width (cm)");

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Sepal Length (cm)");


  var circlesGroup = svg.selectAll(".dot")
      .data(data)
      .enter();


  var cTip  =  circlesGroup
    .append("circle")
      .attr("class", "dot")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d.Total); })
      .attr("cy", function(d) { return y(d.Death_Rate); });
      

    circlesGroup.append("text")
        .classed("stateText", true)
        .attr("x", function(d) { return x(d.Total); })
        .attr("y", function(d) { return y(d.Death_Rate); })
        .attr("font-size", "8px")
        .style("text-anchor", "middle")
        // .text(d => d.Country_Code);

//Initialize tool tip

var toolTip = d3.tip()
    .attr("class", "d3-tip")
    .style("background",'#BCC5F7')
    .style("border-radius", '6px')
    .style("padding", '12px')
    .offset([-8, 0])
    .html(function(d) {
      return (`<b>${d.Country}</b><br>Consumption: ${d.Total} liter(s)<br>Death Rate: ${d.Death_Rate} Per 100,000`);
  });

//Create tooltip in the chart
cTip.call(toolTip);

//Create event listeners to display and hide the tooltip
cTip.on("mouseover", function(d) {
  d3.select(this).style("stroke", "black")
  toolTip.show(d, this);
})
  //on mouseout event
  .on("mouseout", function(d, index) {
    d3.select(this).style("stroke", "purple")
    .attr("r", "5")
    toolTip.show(d);
  });


  var legend = svg.selectAll(".legend")
      .data(color.domain())
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });
 


// Create Y-axis and X-axis labels
svg.append("text")
.attr("transform", "rotate(-90)")
.attr("y", 0 - margin.left)
.attr("x", 0 - (height / 2))
.attr("dy", "1em")
.attr("class", "axisText")
.text("Death Rate Caused by Alcohol");

svg.append("text")
.attr("transform", `translate(${width / 2}, ${height + margin.top+10})`)
.attr("class", "axisText")
.text("Total Average Alcohol Consumption (liter)");

});

</script>